@import "variables";

.display-creature .creature,
.edit-creature .row {
    height: $input-height;
}

// Animation effect of dying/reviving creature
.creature {
    border: none;
    padding: 0;
    background-color: transparent;
    transition: padding $death-transition-duration, opacity $death-transition-duration;

    &.dead {
        opacity: 0.3;
    }
}

.good {
    color: $success;
}

.bad {
    color: $danger;
}