<div *ngIf="initiativeService.creaturesArr.length > 0">
    <div class="border rounded-3 px-3 mt-4">
        <dnd-creature *ngFor="let creature of initiativeService.creaturesArr;
            trackBy: getCreatureID;
            index as i;
            last as isLast"
            [creature]="creature"
            class="d-block"
            [class.border-bottom]="!isLast">
        </dnd-creature>
    </div>

    <div class="text-end mt-2">
        <button type="button" 
            class="btn btn-sm btn-link text-danger p-1"
            (click)="initiativeService.removeAllCreatures()">
            Clear initiative
        </button>
    </div>
</div>

<div *ngIf="!initiativeService.creaturesArr.length"
    class="border bg-light rounded-3 px-3 mt-4">
    <div class="text-center py-3">
        <small class="text-muted">
            No Creatures have been added to this initiative yet.
        </small>
    </div>
</div>