<div class="row g-0">
    <div class="col-6 col-sm-6 pe-3">
        <input type="text"
            class="form-control"
            [(ngModel)]="monsterName"
            placeholder="Monster name">
    </div>

    <div class="col-6 col-sm-4 pe-sm-3 mb-3 mb-sm-0">
        <input type="number"
            class="form-control"
            [(ngModel)]="monsterHealth"
            placeholder="Max health">
    </div>

    <div class="col col-sm-2 d-grid">
        <button type="button"
            class="btn btn-primary"
            (click)="addMonster()">
            Add
        </button>
    </div>
</div>