@import "variables";

:host {
    display: block;
}

.display-monster,
.edit-monster {
    height: $input-height;
}

// Animation effect of dying/reviving monster
.monster {
    transition: padding $death-transition-duration, opacity $death-transition-duration;

    &.dead {
        opacity: 0.25;
    }
}

.health-bar {
    height: $spacer;

    .health-level {
        transition: width $health-transition-duration, background-color $health-transition-duration;

        &.full {
            background-color: $success;
        }

        &.half {
            background-color: $warning;
        }

        &.danger {
            background-color: $danger;
        }
    }
}

.health-changes,
.health-count-edit {
    width: auto;

    input {
        width: $spacer * 4;
        flex-grow: 0;
    }
}

.health-count {
    line-height: 1;
}