<div class="row g-0">
    <div class="col-6 col-sm-5 pe-3">
        <input type="text"
            class="form-control"
            [(ngModel)]="creatureName"
            placeholder="Creature name">
    </div>

    <div class="col-6 col-sm-2 pe-sm-3 mb-3 mb-sm-0">
        <input type="number"
            class="form-control"
            [(ngModel)]="creatureRoll"
            placeholder="Roll">
    </div>

    <div class="col-6 col-sm-3 pe-3">
        <select class="form-select" [(ngModel)]="creatureType">
            <option value="good">Good</option>
            <option value="bad">Bad</option>
            <option value="neutral" selected>Neutral</option>
        </select>
    </div>

    <div class="col-6 col-sm-2 d-grid">
        <button type="button"
            class="btn btn-primary" 
            (click)="addCreature()">
            Add
        </button>
    </div>
</div>
