a:hover {
    .kofiimg {
        animation: kofi-wiggle 3s infinite;
    }
}

.kofiimg {
    height: 15px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 3px;
    content: url('https://storage.ko-fi.com/cdn/cup-border.png');
}

@keyframes kofi-wiggle {
    0% {
        transform: rotate(0) scale(1);
    }
    10% {
        transform: rotate(0) scale(1);
    }
    25% {
        transform: rotate(0) scale(1.12);
    }
    30% {
        transform: rotate(0) scale(1.1);
    }
    34% {
        transform: rotate(-10deg) scale(1.1);
    }
    38% {
        transform: rotate(10deg) scale(1.1);
    }
    42% {
        transform: rotate(-10deg) scale(1.1);
    }
    46% {
        transform: rotate(10deg) scale(1.1);
    }
    50% {
        transform: rotate(0) scale(1);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}