@import "variables";

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    .row {
        &.vertical {
            flex-direction: column;
        }

        &.horizontal {
            flex-direction: row;
        }
    }
}

.btn {
    width: 2rem;
}