@import "variables";

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    .row {
        flex-direction: column;

        @media (min-width: map-get($grid-breakpoints, md)) {
            &.horizontal {
                flex-direction: row;
            }
        }
    }
}

.btn {
    width: 2rem;
}